<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<!-- spring容器 -->
	<!-- 监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 需要指定spring配置文件目录 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 表示将spring配置信息放入不同的配置文件 -->
		<param-value>classpath:spring/applicationContext-*.xml</param-value>
	</context-param>
	
	<!-- 处理post请求中文乱码的过滤器 -->
  <filter>
  	<filter-name>characterEncoding</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>characterEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- post模拟转其他请求的过滤器 -->
  <filter>
  	<filter-name>hidden</filter-name>
  	<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>hidden</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 异步put请求过滤器 -->
  <filter>
  	<filter-name>putMethod</filter-name>
  	<filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>putMethod</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 前端控制器 -->
  <servlet>
  	<servlet-name>front</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:spring/springmvc.xml</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>front</servlet-name>
  	<!-- *.action的是带扩展名的风格 -->
  	<url-pattern>*.action</url-pattern>
  	<!-- restful名称空间中的是restful风格 -->
  	<url-pattern>/restful/*</url-pattern>
  </servlet-mapping>
</web-app>